@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
}

:root {
  --btn-primary: #f7941d;
  --btn-primary-hover: #e8860f;
  --btn-primary-text: #ffffff;
}
