@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
}

:root {
  --brand-color: #f7941d;
  --brand-color-hover: #e8860f;
  --brand-color-light: #fff6e6;
  --brand-color-soft: #ffeabe;
}

@theme {
  --color-brand: var(--brand-color);
  --color-brand-hover: var(--brand-color-hover);
  --color-brand-light: var(--brand-color-light);
  --color-brand-soft: var(--brand-color-soft);
}
